# temp files
*.o
*.d
*.swp
*.log

# texts and executables
*.txt
*.exe

# data files
*.tpl
*.tgt
*.fasta

# subdirectories
required_tgt/
required_tpl/
tail_epad/
correct_constraints/
seq-temp-pro/
calcfeature/
backfiles/
train_constraints/
train_constraints_90/

# documents
doc/
!doc/*.tex

# zip files
*.zip
*.tar

# model files
*.model

# scripts
*.awk
*.dat
*.sh
*.py

# miscs
tags
tag

